@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --white: hsl( 0, 0%, 100% );
    --light-pink: hsl( 275, 100%, 97% );
    --grayish-purple: hsl( 292, 16%, 49% );
    --dark-purple: hsl( 292, 42%, 14% );
    --bright-purple: hsl( 281, 83%, 54% );
    
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  }
  body {
    background: url("./assets/images/background-pattern-desktop.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    overflow: hidden;
    background-color: var(--light-pink);
    color: var(--dark-purple);
  }


  body::before {
    content: "";
    position: absolute;
    top: 0;
    background: url("/assets/images/background-pattern-desktop.svg");
    width: 100vw;
    height: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .main-title, faq-title{
    display: inline-block;
  }


  main {
    width: 900px;
    min-height: 560px;
    max-height: auto;
    padding: 12px;
    margin: 12px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: hsla(293, 16%, 49%, 0.171) 0px 30px 40px 0px;
   
  }

  ul li{
    list-style: none;
  }

  .alt-container{
    margin: 40px 40px 0 40px;
  }

  .header{
    margin-bottom: 1.5rem;
  }

  .star-icon{
    width: 35px;
  }

  h1{
    font-size: 55px;
  font-weight: 700;
  margin-left: 20px;
  }

  .plus-icon{
    float: right;
    width: 30px;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
  }
  
  h2:hover {
    color: var(--bright-purple);
    cursor: pointer;
    transition: 0.9s;
  }

  p {
    color: var(--grayish-purple);
    padding-top: 22px;
    line-height: 1.5;
  }

  .bottom-line {
    width: 100%;
    height: 1px;
    background-color: var(--light-pink);
    margin-top: 25px;
    margin-bottom: 35px;
  }